body {
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	background-color: black;
	-webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10+ and Edge */
        user-select: none; /* Standard syntax */
}

#pause, #show, #info {
	position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 15px;
    background-color: #ff674d;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s;
}

#pause:hover{
	transform: scale(1.3);
}

#show {
	left: 20px;
}

#score-board {
	position: fixed;
	left: 20px;
	top: 20px;
	transition: 0.3s;
}

table {
	border-collapse: collapse;
}
tr {
	transition: 300ms;
	background-color: #7788d9;
}

td {
	padding: 10px;
	border: 1px solid #fff;
	font-size: 1.3em;
	color: #fff;
	width: 80px;
}

#info {
	left: 20px;
	top: 85px;
	padding: 0;
	background: none;
	transition: 0.3s;
}

#info div div{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	display: inline-block;
}

#info div span {
	position: relative;
	left: 15px;
	top: -14px;
}

button:focus {
	outline: 0!important
}
